*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home{
    width: 500px;
    text-align: center;
    padding: 50px;
}
.home h1{
    margin-bottom: 30px;
}
.home p{
    margin-bottom: 20px;
}
button{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(4, 128, 77);
    outline: none;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button a{
    color: #fff;
    text-decoration: none; 
    font-size: 20px; 
}